.landingpage-container{
    text-align: center;
    font-family: 'Exo-Bold';
}

.studeet-title{
    width: 100%;
    /* border: 1px solid black; */
    box-shadow: 0 4px 4px -4px black;
    position: fixed;
    /* top: 0;
    left: 0;
    right: 0; */
}

.studeet-title-name{
    margin: 1rem;
    font-family: 'Exo-Bold';
}

.bodys{
    padding-top: 70.4px;
}