.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family : 'Exo-Bold';
  src: url("./fonts/Exo-Bold.ttf");
}

@font-face {
  font-family : 'Exo-Italic';
  src: url("./fonts/Exo-Italic.ttf");
}

@font-face {
  font-family : 'Exo-Light';
  src: url("./fonts/Exo-Light.ttf");
}

@font-face {
  font-family : 'Exo-Medium';
  src: url("./fonts/Exo-Medium.ttf");
}

@font-face {
  font-family : 'Leferi-Regular';
  src: url("./fonts/LeferiBaseRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family : 'Leferi-Bold';
  src: url("./fonts/LeferiPointBlack.ttf");
  font-weight: normal;
  font-style: normal;
}